<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Locations</title>
    </head>
    <body>

        <div id="container">
        </div>

        <script src="scripts/vendor/jquery/dist/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="scripts/vendor/underscore/underscore.js" type="text/javascript" charset="utf-8"></script>
        <script src="scripts/vendor/backbone/backbone.js" type="text/javascript" charset="utf-8"></script>

        <script src="scripts/location-model.js" type="text/javascript" charset="utf-8"></script>
        <script src="scripts/search-form-view.js" type="text/javascript" charset="utf-8"></script>
        <script src="scripts/search-result-view.js" type="text/javascript" charset="utf-8"></script>
        <script src="scripts/liked-view.js" type="text/javascript" charset="utf-8"></script>
        <script src="scripts/search-location-view.js" type="text/javascript" charset="utf-8"></script>
        <script src="scripts/app.js" type="text/javascript" charset="utf-8"></script>

        <script id="search-form-template" type="text/html-template">
            <input type="text" name="location" id="location" value="" placeholder="e.g.Melbourne" />
            <input type="button" name="search" id="search" value="Search" />
        </script>

        <script id="search-result-template" type="text/html-template">
            <div>
                <h4>Search Results</h4>
                <ul>
                  <% _.each(locations, function(location) { %>
                    <li><%= location.name %></li>
                  <% }); %>
                </ul>
            </div>
        </script>

        <script id="liked-template" type="text/html-template">
            <div>
                <h4>Locations I liked</h4>
                <ul>
                  <% _.each(liked, function(loc) { %>
                    <li><%= loc.name %></li>
                  <% }); %>
                </ul>
            </div>
        </script>
    </body>
</html>
